body {
	background-images:
	margin
	font-family 'Open Sans', sans-serif;
}
 
hr {
	border:12;
	background:#996633;
	height:1px;
}		
 
header{
	text-align: center;
	color:#996633;
}
 
header .judul{
	font-size: 25pt;
}
 
header .deskripsi{
	font-size: 15pt;
}
 
.wrap {
	width: 930px;
	margin:25px auto;
}
 
nav.menu ul {
	overflow:hidden;
	color: white;
	list-style: none;
	float:left;
	padding: 0;
	width: 650px;
	margin:0 0 0;
	background: #996633;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
}
 
nav.menu ul li {
	margin: 0;
	float:left;
}
 
nav.menu ul a {
	padding:15px;
	display:block;
	font-weight:500;
	font-size: 15px;
	color: white;
	text-transform: uppercase;
	transition: all 0.5s ease;
	text-decoration: none;
}
 
nav.menu ul a:hover {
	text-decoration: underline;
	background:#996633;
}
 
.sidebar {
	float:right;
	width:200px;
}
 
.sidebar .widget {
	padding:15px;
	margin:0 0 50px;
	background: #996633;
	border-bottom: 25px solid #fff;
	transition: all 0.5s ease;
}
 
.sidebar .widget:hover {
	border-bottom: 25px solid #3498db;
}
 
.sidebar .widget h2 {
	padding:0;
	margin:0 0 12px;
	color: white;
	font-size: 10px;
	font-weight:800;
	text-transform: uppercase;
}
 
.sidebar .widget p {
	font-size: 18px;
}
 
.sidebar .widget p:last-child {
	margin: 12px;;
}
 
.blog {
	float:left;
}
 
.conteudo {
	width:600px;
	padding:12px;
	margin:12px auto;
	background: white;
	border:15px solid #dedede;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
}
 
.conteudo img {
	min-width: 200px;
	margin:0 0 25px -25px;
	max-width: 500px;
}
 
.conteudo h1 {
	padding:30px;
	margin:0 0 15px;
	font-weight: normal;
	color: #666;
	font-family: Georgia;
}
 
.conteudo p:last-child {
	margin:15px;
}
 
.conteudo .continue-lendo {
	color:#000;
	transition: all 0.5s ease;
	text-decoration: none;
	font-weight: 100; 
}
 
.conteudo .continue-lendo:hover {
	margin-left:10px;
}
 
.post-info {
	float: right;
	font-size: 15px;
	margin: -10px 0 15px;
	text-transform: uppercase;
}
 
@media screen and (max-width: 960px) {
 
	.header {
		position:inherit;
	}
 
	.wrap {
		width: 90%;
		margin:25px auto;
	}
	.sidebar {
		width:100%;
		margin:250px 0 0;
		float:right;
	}
 
	.sidebar .widget {
		padding:5%;
	}
 
	nav.menu ul {
		width: 100%;
	}
 
	nav.menu ul {
		float:inherit;
	}
 
	nav.menu ul li {
		float:inherit;
		margin:0;
	}
 
	nav.menu ul a {
		padding:15px;
		font-size: 16px;
		border-top:1px solid #1abf9f;
		border-bottom:1px solid #16a085;
	}
 
	.blog {
		width:90%;
	}
 
	.conteudo {
		float:inherit;
		margin: 0 auto 25px;
		width:101%;
		border:1px solid #dedede;
		padding:5%;  
		background: #fff;
	}
 
	.conteudo img {
		max-width: 110%;
		margin:0 0 25px -5%;
		min-width: 110%;
	}
 
	.conteudo .continue-lendo:hover {
		margin: 12px;
	}
 
 
}